# config
machiner-config.yml
swithcer-config.yml

# gRPC generating files
grpc/
!gprc/proto

#debian packaging
debian/ranger-vmware-handlers
debian/files
debian/ranger-vmware-handlers.substvars
*.deb

#IDEs
/.vscode