# config
machiner-config.yml
switcher-config.yml
templater-config.yml

# gRPC generating files
grpc/
!gprc/proto

#debian packaging
debian/ranger-vmware-handlers
debian/files
debian/ranger-vmware-handlers.substvars
*.deb

#IDEs
/.vscode

# test deputy packages
extra/test-deputy-packages/**/target
