[Unit]
Description=ranger-vmware-switcher
After=network.target

[Service]
ExecStart=/var/opt/ranger/bin/ranger-vmware-switcher /etc/opt/ranger/ranger-vmware-switcher/config.yml
Type=simple
User=root
Group=root
Restart=on-failure
RestartSec=10
StartLimitInterval=10m
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
