Source: ranger-vmware-handlers
Section: devel
Priority: optional
Maintainer: Kaarel Allemann <kaarel.allemann@cr14.ee>
Build-Depends: build-essential, debhelper (>= 11)

Package: ranger-vmware-handlers
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Ranger VMWare Node Deployer
 Ranger VMWare handler creates two gRPC
 servers that exposes functions to Ranger for
 manipulating VMs running on VMWare vSphere and
 networks running on NSX-T.
