#!/usr/bin/make -f

clean:
	make clean

build:
	make

binary:
	make install DESTDIR=debian/ranger-vmware-handlers
	strip --strip-all debian/ranger-vmware-vmware-handlers/var/opt/ranger/bin/ranger-vmware-handlers
	dh_makeshlibs
	dh_gencontrol
	dh_builddeb

uninstall:
	make uninstall DESTDIR=debian/ranger-vmware-handlers
